In [1]:
import pandas as pd

In [2]:
#Reading from self created dataset
data=pd.read_excel('Shopify.xlsx')

In [3]:
data.head(5)

   store_id       date status  revenue
0         1  1/22/2017   open        0
1         2  1/22/2017  fraud       20
2         3  1/22/2017   open       15
3         1  1/23/2017   open        9
4         2  1/23/2017  fraud        2

In [4]:
#select data where revenue is not 0 on any date
#data[data.revenue==0]['store_id'].unique() ##Finds store_ids where revenue is 0 on any one day
nonZerodata=data[~ data.store_id.isin(data[data.revenue==0]['store_id'].unique())]

In [5]:
#Get total store_id counts for each date
counts=nonZerodata.groupby('date')['store_id'].count().reset_index(name='total_count')
counts

        date  total_count
0  1/22/2017            2
1  1/23/2017            4
2  1/24/2017            4
3  1/25/2017            4

In [6]:
#Get fraud count for each date
fraud_counts=nonZerodata[nonZerodata.status=='fraud'].groupby('date')['store_id'].count().reset_index(name='fraud_count')
fraud_counts

        date  fraud_count
0  1/22/2017            1
1  1/23/2017            1
2  1/24/2017            2
3  1/25/2017            2

In [7]:
#Merge the above created series
result=pd.merge(counts,fraud_counts, on='date')
result

        date  total_count  fraud_count
0  1/22/2017            2            1
1  1/23/2017            4            1
2  1/24/2017            4            2
3  1/25/2017            4            2

In [8]:
#Calculate fraud percentage
result['fraud_percentage']=result['fraud_count']*100/result['total_count']
result['fraud_percentage'] = result['fraud_percentage'].astype(str) + '%'
result

        date  total_count  fraud_count fraud_percentage
0  1/22/2017            2            1            50.0%
1  1/23/2017            4            1            25.0%
2  1/24/2017            4            2            50.0%
3  1/25/2017            4            2            50.0%